#app
APP_NAME=devnura
APP_AUTHOR=devnura

# environment
NODE_ENV=development
PORT=8000

# database
#development
DEV_USERNAME=
DEV_PASSWORD=
DEV_DATABASE=
DEV_HOST=
DEV_DIALECT=

#test
TEST_USERNAME=
TEST_PASSWORD=
TEST_DATABASE=
TEST_HOST=
TEST_DIALECT=

#production
PROD_USERNAME=
PROD_PASSWORD=
PROD_DATABASE=
PROD_HOST=
PROD_DIALECT=

# crypto
SECRET_KEY=eyota

# jwt
JWT_EXPIRATION=30d
JWT_REFRESH_EXPIRATION=60d
TOKEN_SECRET=U2FsdGVkX1/hnA2S3l0Evi+whG73WiOrplJA5fcfe2o=
REFRESH_TOKEN_SECRET=U2FsdGVkX18LvuBcY6prEGXDZhDoBa7O0GAUSzTWzdk=